@page "/"

<PageTitle>Home</PageTitle>

<h1>Velkommen til Blazor Eksempler!</h1>

<p>Denne app indeholder forskellige eksempler på, hvad man kan lave med Blazor. Nedenfor er en oversigt over de forskellige sider:</p>

<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Opgaver</h5>
                    <p class="card-text">En samling af forskellige opgaver og løsninger.</p>
                    <a href="/Opgaver" class="btn btn-primary">Gå til Opgaver</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Charts</h5>
                    <p class="card-text">Eksempler på, hvordan man kan lave forskellige typer diagrammer.</p>
                    <a href="/charts" class="btn btn-primary">Gå til Charts</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Sensor</h5>
                    <p class="card-text">Eksempel på, hvordan man kan bruge sensorer med Blazor.</p>
                    <a href="/Sensor" class="btn btn-primary">Gå til Sensor</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ThreeJS</h5>
                    <p class="card-text">Eksempel på, hvordan man kan bruge 3D-biblioteket ThreeJS med Blazor.</p>
                    <a href="/ThreeJS" class="btn btn-primary">Gå til ThreeJS</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Modal</h5>
                    <p class="card-text">Eksempel på, hvordan man kan lave modale vinduer i Blazor.</p>
                    <a href="/Modal" class="btn btn-primary">Gå til Modal</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Maps</h5>
                    <p class="card-text">Eksempel på, hvordan man kan integrere kort i en Blazor app.</p>
                    <a href="/map" class="btn btn-primary">Gå til Maps</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carousel</h5>
                    <p class="card-text">Eksempel på, hvordan man kan lave et billedkarrusel i Blazor.</p>
                    <a href="/Carousel" class="btn btn-primary">Gå til Carousel</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Connection Converter</h5>
                    <p class="card-text">Et værktøj til at konvertere forbindelsesstrenge mellem forskellige databaser.</p>
                    <a href="/DBConverter" class="btn btn-primary">Gå til Connection Converter</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Chat Room</h5>
                    <p class="card-text">En simpel chat app lavet med Blazor og SignalR.</p>
                    <a href="/chatroom" class="btn btn-primary">Gå til Chat Room</a>
                </div>
            </div>
        </div>
    </div>
</div>
