@page "/ThreeJS"


<h3>Three.js in Blazor</h3>
<canvas id="threeCanvas" width="1600" height="800"></canvas>

@code {
    private ElementReference _canvasRef;

    [Inject]
    private IJSRuntime JSRuntime { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("threeInterop.initialize", "threeCanvas");
        }
    }
}