@page "/opgaver/miniopgaver"

<h3>MiniOpgaver</h3>

<div>
    <h4>1. Udskriv længden af strengen “C# Bogen Opgaver”</h4>
    <p>Resultat: @længdeAfStreng</p>
</div>

<div>
    <h4>2. Lav et program som skriver et tilfældigt tal ud i konsollen</h4>
    <p>Resultat: @tilfældigtTal</p>
</div>

<div>
    <h4>3. Skriv en variable ind i en streng ved brug af $-tegnet</h4>
    <input @bind="input" placeholder="Indsæt tekst her" />
    <p>Resultat: @resultatStreng</p>
</div>

@code {
    // 1. Udskriv længden af strengen “C# Bogen Opgaver”
    private string tekst = "C# Bogen Opgaver";
    private int længdeAfStreng;

    // 2. Lav et program som skriver et tilfældigt tal ud i konsollen
    private int tilfældigtTal;

    // 3. Skriv en variable ind i en streng ved brug af $-tegnet
    public string input = "Indsæt mig i en streng";
    private string resultatStreng;

    protected override void OnInitialized()
    {
        // Beregn længden af strengen
        længdeAfStreng = tekst.Length;

        // Generer et tilfældigt tal
        Random random = new Random();
        tilfældigtTal = random.Next();

        // Initial opdatering af resultatStreng
        UpdateResultatStreng();
    }

    // Opdaterer resultatStreng hver gang input ændres
    private void UpdateResultatStreng()
    {
        resultatStreng = $"Her er den indsatte tekst: {input}";
    }
}