@page "/opgaver"

<h3>Opgaver</h3>

<p>Her er en liste over opgaver, som muligt svar eller vejledning på opgaver inde på Notion</p>

<p> 
    1. <a href="/opgaver/VisualisereBenzinpriser"> Notion </a>
</p>

@code {



}