@page "/opgaver"

<h3>Opgaver</h3>

<p>Her er en liste over opgaver, som mulig løsning eller vejledning på opgaver inde på Notion.</p>

<nav>
    <ul>
        <li><NavLink href="/Opgaver/Bilbasen" Match="NavLinkMatch.All">Bilbasen</NavLink></li>
        <li><NavLink href="/Opgaver/VisualisereBenzinpriser" Match="NavLinkMatch.All">Visualisere Benzinpriser</NavLink></li>
    </ul>
</nav>

@code {
}