.d-flex[b-9w2kz9yvsn] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.card[b-9w2kz9yvsn] {
    flex: 1 1 auto;
    flex-basis: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
}
